#navBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  ul {
    display: flex;
    width: 700px;
    height: 100px;
    box-sizing: border-box;
    margin: 0 25px;
  }
  .item {
    flex: 1;
    &.current {
      .name {
        color: #39d1db;
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      .icon {
        display: block;
        width: 40px;
        height: 44px;
        margin: 10px auto 10px;
        background-size: 40px 44px;
        &.icon-home {
          background-image: url("./../../assets/imgs/index/home_icon_default.png");
        }
        &.icon-home-active {
          background-image: url("./../../assets/imgs/index/home_icon_selected.png");
        }
        &.icon-menu {
          background-image: url("./../../assets/imgs/index/menu_icon_default.png");
        }
        &.icon-menu-active {
          background-image: url("./../../assets/imgs/index/menu_icon_select.png");
        }
        &.icon-order {
          background-image: url("./../../assets/imgs/index/orders_icon_default.png");
        }
        &.icon-order-active {
          background-image: url("./../../assets/imgs/index/orders_icon_selected.png");
        }
        &.icon-cart {
          width: 44px;
          background-size: 44px 44px;
          background-image: url("./../../assets/imgs/index/cart_icon_default.png");
        }
        &.icon-cart-active {
          width: 44px;
          background-size: 44px 44px;
          background-image: url("./../../assets/imgs/index/cart_icon_selected.png");
        }
        &.icon-my {
          width: 41px;
          background-size: 41px 44px;
          background-image: url("./../../assets/imgs/index/my_icon_default.png");
        }
        &.icon-my-active {
          width: 41px;
          background-size: 41px 44px;
          background-image: url("./../../assets/imgs/index/my_icon_selected.png");
        }
      }
      .name {
        display: inline-block;
        font-size: 22px;
        color: #b7b7b7;
      }
    }
  }
}