@import "./variables";

.confirm-phoneNum-page {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .confirm-phoneNum-container {
    width: 100%;
    height: 100%;
    background: $color-background;
    box-sizing: border-box;
  }
  .text {
    font-size: 28px;
    color: $color-text-l;
    padding-top: 100px;
    padding-left: 20px;
    margin-bottom: 60px;
    i{
      font-style: normal;
    }
  }

  .input-box {
    position: relative;
    height: 100px;
    background: #fff;
    padding: 0 20px;
  }
  input {
    width: 100%;
    line-height: 100px;
    font-size: 28px;
    color: #030303;
    &:focus {
      border-bottom-color: #3cdcd4;
    }
    &::-webkit-input-placeholder {
      color: #c9c9c9;
    }
  }
  .icon-close {
    position: absolute;
    display: none;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url(./../imgs/login/icon_close.png);
  }
  .msg {
    position: absolute;
    display: none;
    left: 50px;
    top: 445px;
    width: 650px;
    text-align: center;
    font-size: 22px;
    color: #ff6363;
  }
  .next {
    display: block;
    width: 650px;
    height: 100px;
    margin: 85px auto;
    background: linear-gradient(to right,#39d1db,#3de1cf);
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 32px;
  }
}
.picCode{
  position: relative;
  height: 100px;
  background: #fff;
  margin-top: 20px;
  display: flex;
  input{
    flex: 1;
    padding-left: 20px;
    line-height: 100px;
    font-size: 28px;
    border: none;
    color: #030303;
    outline: none;
    border-bottom: 1px solid #c9c9c9;
    &:focus {
      border-bottom-color: #3cdcd4;
    }
    &::-webkit-input-placeholder{
      color: #c9c9c9;
    }
  }
  .imgcode{
    flex:  0 0 240px;
    width: 240px;
    border: 1px solid $color-text;
    img{
      width: 100%;
      height: 100%;
    }
  }
}