
@import "./variables";
.identifyCode-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  .identifyCode-container {
    width: 650px;
    margin: 0 auto;
  }
  .title {
    font-size: 56px;
    color: #030303;
    padding-top: 100px;
    margin-bottom: 80px;
    font-weight: 700;
  }
  .text{
    margin-top: 40px;
    font-size: 22px;
    line-height: 36px;
    width: 550px;
    color: #a0a0a0;
    .tel{
      color: #333333;
      font-size: 30px;
      font-weight: 600;
    }
  }
  .countDown{
    text-align: right;
    color: #a0a0a0;
    margin-right: 50px;
    font-size: 22px;
  }
  .send{
    display: none;
    float: right;
    color: #39d1db;
    margin-right: 50px;
    font-size: 22px;
  }
}

#verification{
  margin: 100px auto 40px;
  position: relative;
  width: 100%;
  background: #fff;
  height: 100px;
  font-size: 32px;
  overflow: hidden;
}
#verification input{
  z-index: 100;
  height: 100%;
  outline: none;
  width: 96px;
  border: 1px solid $color-text-d;
  box-sizing: border-box;
  margin-right: 5px;
  text-align: center;
  font-weight: 500;
  font-size:40px;
  &:last-child{
    margin-right: 0;
  }
}
#verification .display-frame{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  pointer-events: none;
  display: flex;
}
#verification .display-frame span{
  flex: 1;
  border: 1px solid #ccc;
  line-height: 100px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;
  font-weight: 500;
  font-size:30px;
  &:last-child{
    margin-right: 0;
  }
}
