.index-page {
  position: relative;
  background: #fff;
  .index-container{
    position: relative;
    height: 100%;
    /*轮播图*/
    .swiper-container{
      height: 460px;
      .swiper-pagination-progressbar{
        top: 290px;
        left: 50px;
        width: 650px;
        background: rgba(255,255,255,.5);
        .swiper-pagination-progressbar-fill{
          background: #fcfcfc;
        }
      }
    }
    /*活动*/
    .activity{
      z-index: 11;
      position: absolute;
      width: 710px;
      height: 120px;
      box-sizing: border-box;
      top:310px;
      left: 20px;
      a{
        display: block;
        float: left;
        width: 345px;
        height: 100%;
        border-radius: 20px;
        background: #fff;
        margin-right: 20px;
        box-shadow: 0 0 20px #c0c0c0;
        &:last-child{
          margin-right: 0;
        }
        .icon{
          display: inline-block;
          margin-left: 70px;
          margin-top: 36px;
          &.icon-group{
            width: 55px;
            height: 47px;
            background-size: 55px 47px;
            background-image: url('./../../assets/imgs/index/icon_group.png');
          }
          &.icon-sk{
            width: 53px;
            height: 55px;
            background-size: 53px 55px;
            background-image: url('./../../assets/imgs/index/icon_sk.png');
          }
        }
        .name{
          display: inline-block;
          margin-left: 10px;
          font-size: 32px;
          line-height: 120px;
          font-weight: 600;
          color: #333;
          vertical-align: top;
        }
      }
    }
    /*内容*/
    .index-content{
      width: 710px;
      box-sizing: border-box;
      margin: 0 20px;
      ul{
        .item{
          width: 100%;
          height: 150px;
          .name{
            display: inline-block;
            line-height: 150px;
            font-size: 32px;
            color: #333;
            font-weight: 500;
          }
          a{
           display: block;
            width: 100%;
            height: 100%;
            position: relative;
            .icon{
              position: absolute;
              right: 20px;
              top: 50%;
              margin-top: -28px;
              width: 55px;
              height: 55px;
              display: inline-block;
              background-size: 55px 55px;
              &.icon-menu{
                background-image: url(./../../assets/imgs/index/icon_menu.png);
              }
              &.icon-card{
                background-image: url(./../../assets/imgs/index/icon_card.png);
              }
              &.icon-cake{
                background-image: url(./../../assets/imgs/index/icon_cake.png);
              }
            }
          }
        }
        .ad{
          margin: 20px 0;
          a{
            display: block;
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
.city-shade{
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  display: none;
  .city{
    position: absolute;
    width: 600px;
    height: 720px;
    left: 50%;
    top: 15%;
    transform: translate(-50%,0);
    background: #fff;
    border-radius: 20px;
    .icon-close{
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      background-image: url(./../imgs/index/icon_close.png);
      right: 20px;
      top: 20px;
    }
    .notice{
      margin: 100px auto 60px;
      width: 470px;
      font-size: 26px;
      line-height: 38px;
      color: #333;
    }
    .cities{
      width: 480px;
      margin: 0 auto;
      li{
        float: left;
        margin-left: 20px;
        width: 130px;
        height: 60px;
        box-sizing: border-box;
        border-radius: 30px;
        border: 1px solid #333;
        margin-bottom: 40px;
        a{
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          font-size: 26px;
          color: #333;
        }
        &.current{
          border: none;
          background: #38d1db;
          a{
            color: #fff;
          }
        }
      }
    }
  }
}

