@import "./variables";
.invoice-detail-page {
  width: 100%;
  height: 100%;
  .invoice-detail-container {
    position: relative;
    height: 100%;
    ul{
      height: 100%;
      background: $color-background;
      .item{
        background: #fff;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        height: 124px;
        line-height: 124px;
        border-bottom: 1px solid $color-text-d;
        display: flex;
        .name{
          display: inline-block;
          flex: 0 0 175px;
          width: 175px;
          font-size: 30px;
          color: $color-text;
          font-weight: 600;
        }
        .content{
          flex: 1;
          font-size: 30px;
          color: $color-text;
          font-weight: 500;
          input{
            display: inline-block;
            width: 100%;
            //height: 100%;
            &::placeholder{
              color: $color-text-d;
            }
          }
          #selectObject{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            color: $color-text;
            span{
              color: $color-text-d;
            }
            .icon-arrow{
              position: absolute;
              display: inline-block;
              width: 12px;
              height: 20px;
              background-size: 12px 20px;
              background-image: url(./../imgs/invoice-detail/icon_right_arror.png);
              right: 0;
              top: 50%;
              margin-top: -10px;
            }
          }
        }
        &.type{
          border-bottom: none;
        }
        &.email{
          margin-top: 20px;
          border-bottom: none;
        }
      }
      .msg{
        text-align: center;
        color: $color-sub;
        font-size: 20px;
        padding-top: 40px;
        line-height: 40px;
      }
    }
    .submit-invoice{
      position: fixed;
      display: block;
      width: 100%;
      max-width: 750px;
      height: 95px;
      line-height: 95px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      background: linear-gradient(to right,#38d1db,#3de1cf);
    }
  }
}