@import "./variables";

.login-page{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  .login-container{
    width: 650px;
    margin: 0 auto;
  }
  .title{
    font-size: 56px;
    color: #030303;
    padding-top: 100px;
    margin-bottom: 80px;
    font-weight: 700;
  }

  .input-container{
    width: 650px;
    .input-box{
      position: relative;
      height: 135px;
    }
    input{
      width: 100%;
      margin-top: 20px;
      line-height: 115px;
      font-size: 32px;
      color: #030303;
      border-bottom: 1px solid #c9c9c9;
      &:focus {
        border-bottom-color: #3cdcd4;
      }
      &::-webkit-input-placeholder{
        color: #c9c9c9;
      }
    }
    .icon-close{
      position: absolute;
      display: none;
      right: 0;
      top: 50%;
      margin-top: -4px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      background-image: url(./../imgs/login/icon_close.png);
    }
    .eye{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: 5px;
      width: 30px;
      height: 16px;
      background-size: 30px 16px;
    }
    .eye-close{
      background-image: url(./../imgs/login/eye-close.png);
    }
    .eye-open{
      background-image: url(./../imgs/login/eye-open.png);
    }
  }
  .login-way{
    margin-top: 40px;
    height: 28px;
    font-size: 28px;
    .forgetPwd{
      float: left;
      display: inline-block;
      color: #a0a0a0;
    }
    .loginByCode{
      float: right;
      display: inline-block;
      color: #39d1db;
    }
  }
  .msg{
    position: absolute;
    display: none;
    left: 50px;
    top: 620px;
    width: 650px;
    text-align: center;
    font-size: 22px;
    color: #ff6363;
  }
  .login{
    display: block;
    width: 650px;
    height: 100px;
    margin-top: 85px;
    background: $color-main;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 32px;
  }
  .wxLogin{
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    bottom: 100px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    img{
      width: 55px;
      height: 45px;
    }
    p{

      margin-top: 20px;
      font-size: 20px;
      color: #b8b8b8;
    }
  }
}