@import "./variables";
.lucky-award-page{
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  background: #fed1f6;
  .lucky-award-container{
    width: 100%;
    background: #fed1f6;
    .coupon-wrapper{
      width: 100%;
      height: 230px;
      background-size: 100% 230px;
      background-image: url('./../imgs/lucky-award/coupon-bg.png');
      .coupon{
        width: 100%;
        height: 100%;
        display: none;
        .price-wrapper{
          width: 140px;
          flex: 0 0 140px;
          margin-left: 50px;
          margin-right: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .price{
            i{
              font-style: normal;
              color: $color-main;
            }
            .rmb{
              font-size: 24px;
            }
            .num{
              font-size: 50px;
              font-weight: 700;
            }
          }
          .condition{
            margin-top: 15px;
            font-size: 20px;
            color: $color-text-l;
          }
        }
        .info{
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .name{
            font-size: 28px;
            color: $color-text;
            font-weight: 600;
          }
          .time{
            margin-top: 15px;
            color: $color-text-l;
            font-size: 20px;
          }
        }
        .toUse{
          display: block;
          flex: 0 0 120px;
          width: 120px;
          text-align: center;
          height: 40px;
          border-radius: 20px;
          color: #fff;
          background: $color-main;
          line-height: 40px;
          font-size: 28px;
          margin-right: 50px;
          margin-top: 90px;
        }
      }
      button{
        outline: none;
        border: none;
      }
      .tel-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        .tel{
          padding-left: 100px;
          display: flex;
          margin-bottom: 30px;
          .num{
            margin-bottom: 20px;
            font-size: 28px;
            color: $color-text;
          }
          .getMsg{
            width: 200px;
            text-align: center;
            height: 40px;
            border-radius: 20px;
            color: #fff;
            background: $color-main;
            line-height: 40px;
            font-size: 28px;
          }
        }
        .telNum{
          width: 300px;
          height: 45px;
          padding-left: 20px;
          display: inline-block;
          background: #e6e6e6;
          color: $color-text;
          font-weight: 600;
          margin-right: 30px;
          &::-webkit-input-placeholder{
            color: #c6c6c6;
          }
        }
        .msg{
          margin-bottom: 20px;
          padding-left: 100px;
          display: flex;
          .getCoupon{
            width: 120px;
            text-align: center;
            height: 40px;
            border-radius: 20px;
            color: #fff;
            background: $color-main;
            line-height: 40px;
            font-size: 28px;
            display: none;
          }
        }
        .tel-notice{
          text-align: center;
          color: $color-sub;
          font-size: 20px;
          opacity: 0;
        }
      }
    }
    .notice{
      margin-top: 20px;
      p{
        color: #fff;
        text-align: center;
        font-size: 26px;
        margin-bottom: 16px;
        span{
          color: #ea82bc;
        }
      }
    }
    .friend-wrapper{
      margin: 90px 20px 0;
      .title{
        font-size: 32px;
        font-weight: 700;
        color: $color-text;
      }
      ul{
        .friend{
          margin-top: 50px;
          display: flex;
          .avatar{
            flex: 0 0 65px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .info{
            flex: 1;
            .tel{
              color: $color-text;
              font-size: 24px;
              font-weight: 500;
            }
            .time{
              margin-top: 20px;
              font-size: 22px;
              color: $color-text;
            }
          }
          .price{
            font-size: 26px;
            color: $color-text;
            line-height: 65px;
            font-weight: 700;
            .num{
              font-weight: 700;
            }
          }
        }
      }
    }
    .rule-wrapper{
      padding: 60px 20px;
      .title{
        font-size: 28px;
        font-weight: 700;
        line-height: 50px;
        color: $color-text;
      }
      .content{
        margin-top: 10px;
        .rule{
          display: flex;

          .num{
            flex: 0;
            margin-top: 14px;
            font-weight: 600;
            color: $color-text;
            font-size: 22px;
          }
          .para{
            flex: 1;
            font-weight: 600;
            color: $color-text;
            line-height: 50px;
            font-size: 22px;

          }
        }
      }
    }
  }

}