@import "./variables";
.menu-page {
  position: relative;
  background: #fff;
  height: 100%;
  .menu-container {
    position: absolute;
    width: 100%;
    max-width: 750px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    /*轮播图*/
    .swiper-container {
      height: 260px;
      position: relative;
      .swiper-pagination-progressbar {
        position: absolute;
        top: 245px;
        left: 50px;
        width: 650px;
        background: rgba(255, 255, 255, .5);
        .swiper-pagination-progressbar-fill {
          background: #fcfcfc;
        }
      }
    }
    /*滑动部分*/
    .menu-content{
      background: #fff;
      height: 100%;
      display: flex;
      .left{
        flex: 0 0 160px;
        width: 160px;
        .item{
          height: 100px;
          line-height: 100px;
          font-size: 26px;
          color: $color-text-l;
          text-align: center;
          &.active{
            position: relative;
            background: #f5feff;
            color: $color-text;
            font-weight: 600;
            &::before{
              position: absolute;
              height: 100%;
              width: 5px;
              background: #32b9c2;
              content: '';
              left: 0;
              top: 0;
            }
          }
        }
      }
      .right{
        flex: 1;
        position: relative;
        .fixedTitle{
          position: absolute;
          background: #fff;
          z-index: 10;
          left: 0;
          right: 0;
          top: 0;
          height: 50px;
          line-height: 50px;
          padding-left: 20px;
          font-size: 22px;
          color: $color-text;
          font-weight: 600;
          .text{
            font-size: 20px;
            color: $color-text-l;
            margin-left: 10px;
          }
        }
        .cakes{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 100px;
          overflow: hidden;

        }
        .category{
          width: 100%;
          .title{
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            font-size: 22px;
            color: $color-text;
            font-weight: 600;
            .text{
              font-size: 20px;
              color: $color-text-l;
              margin-left: 10px;
            }
          }
          .cake{
            padding: 25px 20px;
            display: flex;
            .img{
              flex: 0 0 140px;
              width: 140px;
              height: 140px;
              margin-right: 20px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .content{
              flex: 1;
              position: relative;
              .name{
                font-size: 28px;
                line-height: 50px;
                font-weight: 600;
                color: $color-text;
              }
              .en{
                font-size: 18px;
                line-height: 38px;
                color: $color-text-l;
              }
              .price{
                margin-top: 30px;
                font-size: 16px;
                font-weight: 600;
                color: $color-text;
                .num{
                  font-weight: 600;
                  color: $color-text;
                  font-size: 28px;
                  font-style: normal;
                }
              }
              .operate{
                position: absolute;
                right: 0;
                bottom: 0;
                height: 45px;
                .btn{
                  display: inline-block;
                  width: 45px;
                  height: 45px;
                  background-size: 45px 45px;
                  &.add{
                    background-image: url('./../../assets/imgs/menu/btn_add.png');
                  }
                  &.minus{
                    display: none;
                    background-image: url('./../../assets/imgs/menu/btn_minus.png');
                  }
                }
                .count{
                  display: inline-block;
                  opacity: 0;
                  width: 45px;
                  height: 45px;
                  text-align: center;
                  line-height: 45px;
                  color: $color-text;
                  font-size: 26px;
                  vertical-align: top;
                }
              }
            }
          }
        }
      }
    }
  }
  .cake-detail{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 100;
    .cake-content{
      background: rgba(0,0,0,.5);
      position: absolute;
      left: 0;
      right: 0;
      padding-top: 80px;
      top: 0;
      bottom: 0;
      .icon-close{
        position: absolute;
        display: inline-block;
        padding: 20px;
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        right: 0px;
        top: 80px;
        z-index: 50;
        background-image: url('../imgs/menu/icon-close.png');
      }
      .cake-wrapper{
        .swiper-container-detail{
          height: 750px;
          position: relative;
          .swiper-pagination-progressbar {
            position: absolute;
            top:715px;
            left: 50px;
            width: 650px;
            background: rgba(255, 255, 255, .5);
            .swiper-pagination-progressbar-fill {
              background: #fcfcfc;
            }
          }
        }
        .detail{
          padding: 20px;
          position: relative;
          background: #fff;
          .name{
            line-height: 44px;
            font-size: 30px;
            font-weight: 600;
            color: $color-text;
          }
          .en{
            font-size: 20px;
            line-height: 30px;
            color: $color-text-l;
          }
          .price{
            margin-top: 15px;
            line-height: 50px;
            font-weight: 600;
            font-size: 16px;
            .num{
              font-size: 32px;
              font-weight: 600;
              font-style: normal;
            }
          }
          .operate{
            position: absolute;
            right: 20px;
            bottom: 20px;
            height: 45px;
            .btn{
              display: inline-block;
              width: 45px;
              height: 45px;
              background-size: 45px 45px;
              &.add1{
                background-image: url('./../../assets/imgs/menu/btn_add.png');
              }
              &.minus1{
                opacity: 0;
                background-image: url('./../../assets/imgs/menu/btn_minus.png');
              }
            }
            .count{
              display: inline-block;
              opacity: 0;
              width: 45px;
              height: 45px;
              text-align: center;
              line-height: 45px;
              color: $color-text;
              font-size: 26px;
              vertical-align: top;
            }
          }
        }
        .line{
          height: 20px;
          background: $color-background;
          width: 100%;
        }
        .comments-content{
          padding: 0 20px;
          .title{
            font-size: 36px;
            padding-top: 30px;
            color: $color-text;
            font-weight: 600;
            display: none;
          }
          .comments{
            padding-top: 30px;
            max-height: 800px;
            overflow: hidden;
            .item{
              display: flex;
              padding: 20px 0;
              .avatar{
                flex: 0 0 50px;
                width: 50px;
                height: 50px;
                margin-right: 20px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .content{
                flex: 1;
                .tel{
                  line-height: 50px;
                  font-size: 20px;
                  color: $color-text-d;
                  display: none;
                }
                .text{
                  line-height: 40px;
                  font-size: 24px;
                  color: $color-text;
                }
              }
            }
          }
        }
        .showAll{
          position: fixed;
          background: #fff;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 60px;
          z-index: 20;
          .up{
            margin: 0 auto;
            width: 70px;
            height: 24px;
            background-size: 70px 24px;
            background-image: url('./../imgs/menu/icon-up.png');
          }
        }
        .btn-wrapper{
          position: fixed;
          z-index: 10;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100px;
          background: #fff;
          box-sizing: border-box;
          padding: 15px 20px;
          opacity: 0;
          box-shadow: 0 0 5px #ccc;
          .btn{
            float: right;
            height: 100%;
            display: flex;
            a{
              display: inline-block;
              flex: 1;
              width: 265px;
              height: 100%;
              text-align: center;
              color: #fff;
              line-height: 70px;
              &.addCart{
                background: #3fe3d1;
                border-radius: 30px 0 0 30px;
              }
              &.buyNow{
                background: #39d2da;
                border-radius: 0 30px 30px 0;
              }
            }
          }
        }
      }

    }

  }
}