@import "./variables";

.order-page{
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  .order-container{
    width: 100%;
    height: 100%;
    .tab{
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 20px;
      height: 100px;
      background: #fff;
      line-height: 100px;
      z-index: 20;
      .tab-item{
        flex: 1;
        margin: 0 20px;
        text-align: center;
        box-sizing: border-box;
        font-size: 32px;
        position: relative;
        span{
          color: $color-text-l;
        }
        .num{
          font-style: normal;
          position: absolute;
          top: 20px;
          right: -20px;
          width: 30px;
          height: 30px;
          background: #fff;
          border: 2px solid #f95252;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          color: #f95252;
          font-size: 18px;
          font-weight: 600;
          display: none;
        }
        &.active{
          border-bottom: 5px solid $color-main;
          span{
            color: $color-text;
            font-weight: 600;
          }
        }
      }
    }
    .order-wrapper{
      padding-top: 100px;
      background: $color-background;
      box-sizing: border-box;
      min-height: 100%;
      width: 100%;
      >ul{
        width: 100%;
        position: relative;
      }
      .item{
        background: #fff;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
        .info{
          height: 100px;
          padding: 0 20px;
          line-height: 100px;
          border-bottom: 1px solid $color-text-d;
          .orderNum{
            float: left;
            font-size: 28px;
            color: $color-text;
          }
          .status{
            float: right;
            font-size: 28px;
            color: $color-main;
            &.finish{
              color: $color-text;
            }
          }
        }
        .detail{
          display: flex;
          border-bottom: 1px solid $color-text-d;
          padding: 30px 20px;
          .img{
            flex: 0 0 170px;
            width: 170px;
            height: 170px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .name{
            flex: 1;
            margin-left: 20px;
            .cn{
              font-size: 30px;
              line-height: 50px;
              color: $color-text;
              font-weight: 600;
            }
            .en{
              font-size: 18px;
              line-height: 38px;
              color: $color-text-l;
            }
          }
          .price{
            flex: 0 0 100px;
            width: 100px;
            text-align: right;
            .now{
              color: $color-text;
              font-weight: 500;
              margin-top: 16px;
              font-size: 14px;
              .num{
                font-style: normal;
                font-size: 24px;
                font-weight: 600;
              }
            }
            .old{
              margin-top: 20px;
              font-size: 14px;
              color: $color-text-l;
              text-decoration: line-through;
              .num{
                font-style: normal;
                font-size: 24px;
              }
            }
            .count{
              margin-top: 26px;
              font-size: 20px;
              line-height: 20px;
              color: $color-text;
              .num{
                font-style: normal;
                font-weight: 500;
              }
            }
          }
        }
        .total{
          padding: 0 20px;
          height: 80px;
          border-bottom: 1px solid $color-text-d;
          text-align: right;
          line-height: 80px;
          color: $color-text;
          i{
            font-style: normal;
          }
          .count{
            font-size: 28px;
            margin-right: 50px;
          }
          .totalPrice{
            font-size: 28px;
            .rmb{
              font-size: 14px;
            }
            .num{
              font-weight: 700;
            }
          }
        }
        .operate{
          padding: 0 20px;
          height: 100px;
          .btn{
            margin-top: 20px;
            margin-left: 20px;
            float: right;
            display: block;
            width: 170px;
            height: 60px;
            border-radius: 30px;
            text-align: center;
            line-height: 60px;
            &.blue{
              border: 1px solid $color-main;
              color: $color-main;
            }
            &.black{
              border: 1px solid $color-text;
              color: $color-text;
            }
          }
        }
      }
      .no-order{
        position: absolute;
        width: 390px;
        height: 550px;
        padding-top: 300px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        img{
          width: 390px;
        }
        p{
          font-size: 28px;
          color: $color-text;
          font-weight: 500;
          text-align: center;
        }
        a{
          display: block;
          margin: 60px auto 0;
          text-align: center;
          width: 170px;
          height: 56px;
          border: 1px solid $color-text;
          border-radius: 28px;
          font-size: 28px;
          line-height: 56px;
          color: $color-text;
        }
      }
    }
  }
}