@import "./variables";

.password-setting-page{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-left: 50px;
  box-sizing: border-box;
  .title{
    font-size: 56px;
    color: #030303;
    padding-top: 100px;
    margin-bottom: 120px;
    font-weight: 700;
  }
  //.msg{
  //  position: absolute;
  //  width: 580px;
  //  left: 50px;
  //  top: 195px;
  //  font-size: 22px;
  //  line-height: 36px;
  //  color: #a7a7a7;
  //  .tel{
  //    font-size: 30px;
  //    color: #030303;
  //    font-weight: 500;
  //    padding: 0 5px;
  //  }
  //  //display: none;
  //}
  .phone{
    position: relative;
    width: 650px;
    height: 105px;
    border-bottom: 1px solid #c9c9c9;
    input{
      width: 100%;
      line-height: 105px;
      font-size: 32px;
      color: #030303;
      &::-webkit-input-placeholder{
        color: #c9c9c9;
      }
    }
    .icon-close{
      position: absolute;
      display: none;
      right: 0;
      top: 50%;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      background-image: url(./../imgs/password-setting/icon_close.png);
    }
  }
  .msg{
    position: absolute;
    display: none;
    left: 50px;
    top: 410px;
    width: 650px;
    text-align: center;
    font-size: 22px;
    color: #ff6363;
  }
  .getCode{
    display: block;
    width: 650px;
    height: 100px;
    margin-top: 75px;
    background: $color-main;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 32px;
  }
}