@import "./variables";

.password-setNew-page{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  .password-setNew-container{
    width: 650px;
    margin: 0 auto;
  }
  .title{
    font-size: 56px;
    color: #030303;
    padding-top: 100px;
    margin-bottom: 80px;
    font-weight: 700;
  }

  .pwd-container{
    width: 650px;
    .pwd-box{
      position: relative;
      height: 135px;
      border-bottom: 1px solid #c9c9c9;
    }
    input{
      width: 100%;
      margin-top: 20px;
      line-height: 115px;
      font-size: 32px;
      color: #030303;
      &::-webkit-input-placeholder{
        color: #c9c9c9;
      }
    }
    .eye{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: 5px;
      width: 30px;
      height: 16px;
      background-size: 30px 16px;
    }
    .eye-close{
      background-image: url(./../imgs/password-setNew/eye-close.png);
    }
    .eye-open{
      background-image: url(./../imgs/password-setNew/eye-open.png);
    }
  }
  .msg{
    position: absolute;
    display: none;
    left: 50px;
    top: 540px;
    width: 650px;
    text-align: center;
    font-size: 22px;
    color: #ff6363;
  }
  .done{
    display: block;
    width: 650px;
    height: 100px;
    margin-top: 85px;
    background: $color-main;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 32px;
  }
}