@import "./variables";
.personal-profile-page {
  width: 100%;
  height: 100%;
  .personal-profile-container {
    position: relative;
    height: 100%;
    ul{
      height: 100%;
      background: $color-background;
      .item{
        background: #fff;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        height: 100px;
        line-height: 100px;
        position: relative;
        border-bottom: 1px solid $color-text-d;
        &.avatar-line{
          height: 120px;
          line-height: 120px;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
        .name{
          float: left;
          font-size: 30px;
          color: $color-text;
          font-weight: 500;
        }
        .content{
          float: right;
          height: 100%;
          font-size: 30px;
          padding-right: 26px;
          color: $color-text-d;
          font-weight: 500;
          .userName{
            text-align: right;
            color: $color-text-d;
          }
          .avatar{
            margin-top: 25px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
            span{
              color: $color-text-d;
            }
            .icon-arrow{
              position: absolute;
              display: inline-block;
              width: 12px;
              height: 20px;
              background-size: 12px 20px;
              background-image: url(./../imgs/personal-profile/icon-right-arrow.png);
              right: 20px;
              top: 50%;
              margin-top: -10px;
            }
        }
        &.changePhone{
          border-bottom: none;
          margin: 20px 0;
        }
        &.quit,&.address{
          border-bottom: none;
        }
        &.quit{
          a{
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            font-size: 28px;
            color: $color-text;
          }
        }
      }
    }
  }
}
#file{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.container-picture{
  position: fixed;
  display: none;
  top: 0;
  z-index: 9999;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  .cropper-container{
    margin-top: 100px;
  }
  a:nth-of-type(1){
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    float: left;
    text-decoration: none;
    width: 120px;
    height: 50px;
    background: $color-main;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  a:nth-of-type(2){
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: $color-main;
    text-decoration: none;
  }
}

.saveUserName{
  display: none;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  height: 100px;
  line-height: 100px;
  font-size: 32px;
  color: #fff;
  text-align: center;
  background: $color-main;
  transform: translateX(-50%);
}