@import "./variables";
.shopping-cart-page{
  width: 100%;
  height: 100%;
  min-width: 750px;
  margin: 0 auto;
  .shopping-cart-container{
    width: 100%;
    height: 100%;
    background: $color-background;
    margin-bottom: 200px;
    .banner{
      width: 100%;
      height: 125px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .content{
      background: #fff;
      .item{
        padding: 30px 20px;
        display: flex;
        .icon{
          display: inline-block;
          margin-top: 22px;
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          flex: 0 0 40px;
          margin-right: 20px;
          &.icon-unsel{
            background-image: url('./../imgs/shopping-cart/unsel.png');
          }
          &.icon-sel{
            background-image: url('./../imgs/shopping-cart/select.png');
          }
        }
        .detail{
          flex: 1;
          display: flex;
          .img{
            flex: 0 0 85px;
            width: 85px;
            height: 85px;
            margin-right: 20px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .name{
            flex: 1;
            line-height: 85px;
            color: $color-text;
            font-weight: 600;
            font-size: 32px;
          }
          .price{
            flex: 0 0 140px;
            width: 140px;
            text-align: center;
            line-height: 85px;
            .num{
              font-style: normal;
              font-size: 30px;
            }
            .rmb{
              font-style: normal;
              font-size: 18px;
            }
          }
        }
        .operate{
          flex: 0 0 150px;
          width: 150px;
          margin-left: 30px;
          margin-top: 20px;
          .btn{
            display: inline-block;
            width: 45px;
            height: 45px;
            background-size: 45px 45px;
            &.add{
              background-image: url('./../../assets/imgs/shopping-cart/btn_add.png');
            }
            &.minus{
              background-image: url('./../../assets/imgs/shopping-cart/btn_minus.png');
            }
          }
          .count{
            display: inline-block;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            color: $color-text;
            font-size: 26px;
            vertical-align: top;
          }
        }
      }
    }
    .account-wrapper{
      position: fixed;
      bottom: 100px;
      box-shadow: 0 0 5px #ccc;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      height: 100px;
      box-sizing: border-box;
      padding-left: 20px;
      background: #fff;
      display: flex;
      .check{
        flex: 0 0 120px;
        width: 120px;
        position: relative;
        .icon{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 30px;
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          flex: 0 0 40px;
          &.icon-unsel{
            background-image: url('./../imgs/shopping-cart/unsel.png');
          }
          &.icon-sel{
            background-image: url('./../imgs/shopping-cart/select.png');
          }
        }
        span{
          padding-left: 50px;
          line-height: 100px;
          font-size: 26px;
        }
      }
      .detail{
        flex: 1;
        position: relative;
        text-align: right;
        .text{
          font-size: 26px;
          color: $color-text;
          line-height: 90px;
          .rmb{
            font-style: normal;
            font-size: 14px;
            color: $color-main;
            margin: 0 8px;
          }
          .num{
            font-style: normal;
            font-size: 40px;
            color: $color-main;
            font-weight: 600;
          }
        }
      }
      .account{
        display: block;
        flex: 0 0 245px;
        width: 245px;
        text-align: center;
        margin-left: 20px;
        color: #fff;
        line-height: 100px;
        font-size: 36px;
        font-weight: 500;
        background: linear-gradient(to right,#39d1db,#3de1d0);
      }
    }
  }
}