<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!-- flexible.js 建议做内联处理，请勿移动位置 -->
    <script src="assets/plugins/lib-flexible/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
    <title>INBOX | 优惠券</title>
    <link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/coupon.css">
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div class="page coupon-page">
    <div class="coupon-container" id="couponContainer">
        <script type="text/html" id="tplCoupon">
            {{if use}}
            {{if list.length>0}}
            <div class="use-none">不使用优惠券<i class="icon icon-unsel"></i></div>
        <ul class="use-ul">
            {{each list as item i}}
            <li class="coupon-item">
                <div class="content">
                    <div class="left">
                        {{if item.discount}}
                        <div class="discount">
                            <i class="num">{{item.discount}}</i>折
                        </div>
                        {{else}}
                        <div class="price">
                            ¥<i class="num">{{item.price}}</i>
                        </div>
                        {{if item.sender}}
                        <div class="send">
                            {{item.sender}}送
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>
                    <div class="right">
                        <p class="name">{{item.name}}</p>
                        <p class="time">有效期至{{item.timeLimit}}</p>
                        <i class="icon icon-unsel"></i>
                    </div>
                    <a class="toggleRules" href="javascript:;">
                        使用规则 <i class="icon icon-down"></i>
                    </a>
                </div>
                <div class="rule">
                    <p class="para">
                        {{item.rule}}
                    </p>
                </div>
            </li>
            {{/each}}
        </ul>
            <a class="saveBtn" href="javascript:;">保存</a>
            {{else}}
            <div class="no-coupon">
                <img src="./assets/imgs/coupon/no-coupon.png" alt="">
                <p>您还没有优惠券</p>
            </div>
            {{/if}}
            {{else}}
            {{if list.length>0}}
            <ul>
                {{each list as item i}}
                <li class="coupon-item">
                    <div class="content">
                        <div class="left">
                            {{if item.discount}}
                            <div class="discount">
                                <i class="num">{{item.discount}}</i>折
                            </div>
                            {{else}}
                            <div class="price">
                                ¥<i class="num">{{item.price}}</i>
                            </div>
                            {{if item.sender}}
                            <div class="send">
                                {{item.sender}}送
                            </div>
                            {{/if}}
                            {{/if}}
                        </div>
                        <div class="right">
                            <p class="name">{{item.name}}</p>
                            <p class="time">有效期至{{item.timeLimit}}</p>
                        </div>
                        <a class="toggleRules" href="javascript:;">
                            使用规则 <i class="icon icon-down"></i>
                        </a>
                    </div>
                    <div class="rule">
                        <p class="para">
                            {{item.rule}}
                        </p>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <div class="no-coupon">
                <img src="./assets/imgs/coupon/no-coupon.png" alt="">
                <p>您还没有优惠券</p>
            </div>
            {{/if}}
            {{/if}}
        </script>
    </div>
</div>
</body>
</html>
<script src="assets/plugins/LABjs/LAB.min.js"></script>
<script>
    $LAB
        .script('assets/plugins/artTemplate/dist/template.js').wait()
        .script('assets/plugins/jquery/jquery-3.1.1.min.js')
        .script('assets/js/util.js')
        .script('assets/js/coupon.js')
</script>