<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!-- flexible.js 建议做内联处理，请勿移动位置 -->
    <script src="assets/plugins/lib-flexible/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
    <title>INBOX|开票记录</title>
    <link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/invoice-record.css">
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div class="page invoice-record-page">
    <div class="invoice-record-container" id="invoice-record">
        <script type="text/html" id="tplInvoice">
            {{if list}}
            <ul>
                {{each list as item i}}
                <li class="invoice-item">
                    <div class="title">
                        <span class="num">申请编号: {{item.orderNum}}</span>
                        <span class="finish">已完成</span>
                    </div>
                    <div class="content">
                        <div class="left">
                            <p class="price">¥<i class="num">{{item.price}}</i></p>
                            <p class="text">发票金额</p>
                        </div>
                        <div class="right">
                            {{if item.company}}
                            <p class="name">{{item.company}}</p>
                            {{else}}
                            <p class="name">个人&nbsp;&nbsp;&nbsp;电子发票</p>
                            {{/if}}
                            <p class="time">{{item.time}}</p>
                        </div>
                    </div>

                </li>
                {{/each}}
            </ul>
            {{else}}
            <div class="no-invoice">
                <img src="./assets/imgs/apply-invoice/no-invoice.png" alt="">
                <p>您还没有开票的记录</p>
            </div>
            {{/if}}
        </script>
    </div>
</div>
</body>
</html>
<script src="assets/plugins/LABjs/LAB.min.js"></script>
<script>
    $LAB
        .script('assets/plugins/artTemplate/dist/template.js').wait()
        .script('assets/plugins/jquery/jquery-3.1.1.min.js').wait()
        .script('assets/js/util.js')
        .script('assets/js/common.js')
        .script('assets/js/invoice-record.js')
</script>