<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <!-- flexible.js 建议做内联处理，请勿移动位置 -->
    <script src="assets/plugins/lib-flexible/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon">
    <title>INBOX|订单</title>
    <link rel="stylesheet" href="assets/plugins/normalize/normalize.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/order.css">
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div class="page order-page">
    <div class="order-container">
        <div class="tab">
            <div class="tab-item active" data-category="all"><span>全部</span></div>
            <div class="tab-item" data-category="unPay"><span>待支付</span><i class="num">1</i></div>
            <div class="tab-item" data-category="unDelivery"><span>待发货</span><i class="num">2</i></div>
            <div class="tab-item" data-category="unReceive"><span>待收货</span><i class="num">0</i></div>
            <div class="tab-item" data-category="unRate"><span>待评价</span><i class="num">4</i></div>
        </div>
        <div class="order-wrapper">
            <ul id="all">
                <script type="text/html" id="tplAll">
                    {{if list.length>0}}
                    {{each list as item i}}

                <li class="item">
                   <div class="info">
                       <span class="orderNum">{{item.orderNum}}</span>
                       {{if item.status ==='已完成'}}
                       <span class="status finish">{{item.status}}</span>
                       {{else}}
                       <span class="status">{{item.status}}</span>
                       {{/if}}
                   </div>
                    <ul>
                        {{each item.cakes as cake j}}
                        <li class="detail">
                            <div class="img">
                                <img class="lazy" data-src="{{cake.imgSrc}}" alt="">
                            </div>
                            <div class="name">
                                <p class="cn">{{cake.name.cn}}</p>
                                <p class="en">{{cake.name.en}}</p>
                            </div>
                            <div class="price">
                                <p class="now">¥<i class="num">{{cake.nowPrice}}</i></p>
                                <p class="old">¥<i class="num">{{cake.oldPrice}}</i></p>
                                <p class="count">×<i class="num">{{cake.count}}</i></p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="total">
                        <span class="count">共<i class="num">{{item.cakes.length}}</i>件商品</span>
                        <span class="totalPrice">总计: <i class="rmb">¥</i><i class="num">20</i></span>
                    </div>
                    {{if item.status === '待支付'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getPay">去付款</a>
                    </div>
                    {{else if item.status === '待发货'}}
                    <div></div>
                    {{else if item.status === '待收货'}}
                    <div class="operate">
                        <a href="./logistics-information.html" class="blue btn checkLogistic">查看物流</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                    </div>
                    {{else if item.status === '待评价'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getRate">去评价</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{else if item.status === '已完成'}}
                    <div class="operate">
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{/if}}
                </li>
                    {{/each}}
                    {{else}}
                    <div class="no-order">
                        <img src="./assets/imgs/order/no-order.png" alt="">
                        <p>您还没有相关订单</p>
                        <a href="javascript:;">去逛逛</a>
                    </div>
                    {{/if}}
                </script>
            </ul>
            <ul id="unPay" style="display: none">
                <script type="text/html" id="tplUnpay">
                    {{if list.length>0}}
                    {{each list as item i}}
                    {{if item.status === '待支付'}}
                <li class="item">
                   <div class="info">
                       <span class="orderNum">{{item.orderNum}}</span>
                       <span class="status">{{item.status}}</span>
                   </div>
                    <ul>
                        {{each item.cakes as cake j}}
                        <li class="detail">
                            <div class="img">
                                <img class="lazy" data-src="{{cake.imgSrc}}" alt="">
                            </div>
                            <div class="name">
                                <p class="cn">{{cake.name.cn}}</p>
                                <p class="en">{{cake.name.en}}</p>
                            </div>
                            <div class="price">
                                <p class="now">¥<i class="num">{{cake.nowPrice}}</i></p>
                                <p class="old">¥<i class="num">{{cake.oldPrice}}</i></p>
                                <p class="count">×<i class="num">{{cake.count}}</i></p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="total">
                        <span class="count">共<i class="num">{{item.cakes.length}}</i>件商品</span>
                        <span class="totalPrice">总计: <i class="rmb">¥</i><i class="num">20</i></span>
                    </div>
                    {{if item.status === '待支付'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getPay">去付款</a>
                    </div>
                    {{else if item.status === '待发货'}}
                    <div></div>
                    {{else if item.status === '待收货'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn checkLogistic">查看物流</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                    </div>
                    {{else if item.status === '待评价'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getRate">去评价</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{else if item.status === '已完成'}}
                    <div class="operate">
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{/if}}
                </li>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <div class="no-order">
                        <img src="./assets/imgs/order/no-order.png" alt="">
                        <p>您还没有相关订单</p>
                        <a href="javascript:;">去逛逛</a>
                    </div>
                    {{/if}}
                </script>
            </ul>
            <ul id="unDelivery" style="display: none">
                <script type="text/html" id="tplUnDelivery">
                    {{if list.length>0}}
                    {{each list as item i}}
                    {{if item.status === '待发货'}}
                <li class="item">
                   <div class="info">
                       <span class="orderNum">{{item.orderNum}}</span>
                       <span class="status">{{item.status}}</span>
                   </div>
                    <ul>
                        {{each item.cakes as cake j}}
                        <li class="detail">
                            <div class="img">
                                <img class="lazy" data-src="{{cake.imgSrc}}" alt="">
                            </div>
                            <div class="name">
                                <p class="cn">{{cake.name.cn}}</p>
                                <p class="en">{{cake.name.en}}</p>
                            </div>
                            <div class="price">
                                <p class="now">¥<i class="num">{{cake.nowPrice}}</i></p>
                                <p class="old">¥<i class="num">{{cake.oldPrice}}</i></p>
                                <p class="count">×<i class="num">{{cake.count}}</i></p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="total">
                        <span class="count">共<i class="num">{{item.cakes.length}}</i>件商品</span>
                        <span class="totalPrice">总计: <i class="rmb">¥</i><i class="num">20</i></span>
                    </div>
                    {{if item.status === '待支付'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getPay">去付款</a>
                    </div>
                    {{else if item.status === '待发货'}}
                    <div></div>
                    {{else if item.status === '待收货'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn checkLogistic">查看物流</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                    </div>
                    {{else if item.status === '待评价'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getRate">去评价</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{else if item.status === '已完成'}}
                    <div class="operate">
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{/if}}
                </li>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <div class="no-order">
                        <img src="./assets/imgs/order/no-order.png" alt="">
                        <p>您还没有相关订单</p>
                        <a href="javascript:;">去逛逛</a>
                    </div>
                    {{/if}}
                </script>
            </ul>
            <ul id="unReceive" style="display: none">
                <script type="text/html" id="tplUnReceive">
                    {{if list.length>0}}
                    {{each list as item i}}
                    {{if item.status === '待收货'}}
                <li class="item">
                   <div class="info">
                       <span class="orderNum">{{item.orderNum}}</span>
                       <span class="status">{{item.status}}</span>
                   </div>
                    <ul>
                        {{each item.cakes as cake j}}
                        <li class="detail">
                            <div class="img">
                                <img class="lazy" data-src="{{cake.imgSrc}}" alt="">
                            </div>
                            <div class="name">
                                <p class="cn">{{cake.name.cn}}</p>
                                <p class="en">{{cake.name.en}}</p>
                            </div>
                            <div class="price">
                                <p class="now">¥<i class="num">{{cake.nowPrice}}</i></p>
                                <p class="old">¥<i class="num">{{cake.oldPrice}}</i></p>
                                <p class="count">×<i class="num">{{cake.count}}</i></p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="total">
                        <span class="count">共<i class="num">{{item.cakes.length}}</i>件商品</span>
                        <span class="totalPrice">总计: <i class="rmb">¥</i><i class="num">20</i></span>
                    </div>
                    {{if item.status === '待支付'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getPay">去付款</a>
                    </div>
                    {{else if item.status === '待发货'}}
                    <div></div>
                    {{else if item.status === '待收货'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn checkLogistic">查看物流</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                    </div>
                    {{else if item.status === '待评价'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getRate">去评价</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{else if item.status === '已完成'}}
                    <div class="operate">
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{/if}}
                </li>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <div class="no-order">
                        <img src="./assets/imgs/order/no-order.png" alt="">
                        <p>您还没有相关订单</p>
                        <a href="javascript:;">去逛逛</a>
                    </div>
                    {{/if}}
                </script>
            </ul>
            <ul id="unRate" style="display: none">
                <script type="text/html" id="tplUnRate">
                    {{if list.length>0}}
                    {{each list as item i}}
                    {{if item.status === '待评价'}}
                <li class="item">
                   <div class="info">
                       <span class="orderNum">{{item.orderNum}}</span>
                       <span class="status">{{item.status}}</span>
                   </div>
                    <ul>
                        {{each item.cakes as cake j}}
                        <li class="detail">
                            <div class="img">
                                <img class="lazy" data-src="{{cake.imgSrc}}" alt="">
                            </div>
                            <div class="name">
                                <p class="cn">{{cake.name.cn}}</p>
                                <p class="en">{{cake.name.en}}</p>
                            </div>
                            <div class="price">
                                <p class="now">¥<i class="num">{{cake.nowPrice}}</i></p>
                                <p class="old">¥<i class="num">{{cake.oldPrice}}</i></p>
                                <p class="count">×<i class="num">{{cake.count}}</i></p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="total">
                        <span class="count">共<i class="num">{{item.cakes.length}}</i>件商品</span>
                        <span class="totalPrice">总计: <i class="rmb">¥</i><i class="num">20</i></span>
                    </div>
                    {{if item.status === '待支付'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getPay">去付款</a>
                    </div>
                    {{else if item.status === '待发货'}}
                    <div></div>
                    {{else if item.status === '待收货'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn checkLogistic">查看物流</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                    </div>
                    {{else if item.status === '待评价'}}
                    <div class="operate">
                        <a href="javascript:;" class="blue btn getRate">去评价</a>
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{else if item.status === '已完成'}}
                    <div class="operate">
                        <a href="javascript:;" class="black btn oneMore">再来一单</a>
                        <a href="javascript:;" class="black btn checkLogistic">查看物流</a>
                    </div>
                    {{/if}}
                </li>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <div class="no-order">
                        <img src="./assets/imgs/order/no-order.png" alt="">
                        <p>您还没有相关订单</p>
                        <a href="javascript:;">去逛逛</a>
                    </div>
                    {{/if}}
                </script>
            </ul>
        </div>
    </div>
    <!--底部tab栏-->
    <div class="navBar" id="navBar">
        <ul>
            <li class="item" data-name="home">
                <a href="./index.html">
                    <i class="icon icon-home"></i>
                    <span class="name">首页</span>
                </a>
            </li>
            <li class="item"   data-name="menu">
                <a href="./menu.html">
                    <i class="icon icon-menu"></i>
                    <span class="name">菜单</span>
                </a>
            </li>
            <li class="item current"  data-name="order">
                <a href="./order.html">
                    <i class="icon icon-order-active"></i>
                    <span class="name">订单</span>
                </a>

            </li>
            <li class="item"  data-name="cart">
                <a href="./shopping-cart.html">
                    <i class="icon icon-cart"></i>
                    <span class="name">购物车</span>
                </a>
            </li>
            <li class="item"  data-name="my">
                <a href="./me.html">
                    <i class="icon icon-my"></i>
                    <span class="name">我的</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
<script src="assets/plugins/LABjs/LAB.min.js"></script>
<script>
    $LAB
        .script('assets/plugins/artTemplate/dist/template.js').wait()
        .script('assets/plugins/jquery/jquery-3.1.1.min.js').wait()
        .script('assets/plugins/vconsole/vconsole.min.js').wait()
        .script('assets/plugins/lazyload/lazyload.min.js').wait()
        .script('assets/js/util.js').wait()
        .script('assets/js/common.js').wait()
    .script('assets/js/order.js')
</script>